 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a guy from Uruguay who likes to draw stuff.</p>
                </div>
                <div class="col-lg-4">
                    <p>I like doing this, contact me and I will paint you whatever you want </p>
                </div>
            </div>
        </div>
    </section>
